<h2 class="screen-align">Createstudent</h2>
<div method="get" id="template-ijsf" class="form ">
    <div id="template-idzt" class="form-group ">
        <label id="template-i75q" class="label ">
            <div id="template-in1hh" class="">Student Name</div>
        </label>
        <input placeholder="Enter Student Name" id="template-io4h" class="input "
        />
    </div>
    <div id="template-i96b" class="form-group ">
        <label id="template-i67r" class="label ">
            <div id="template-i01af" class="">Student Address</div>
        </label>
        <input type="email" placeholder="Enter Student Address" id="template-idv5"
        [(ngModel)]="student.studentaddress" [ngModelOptions]="{standalone: true}"
        class="input " />
    </div>
    <div id="template-iyuv5" class="form-group ">
        <button type="submit" id="template-i0g0r" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i9pgl" class="">Create</div>
        </button>
    </div>
</div>