#template-i7y5 {
    transform: translateX(-5px) translateY(116.1875px);
    en:;
}

#template-it02c {
    transform: translateX(-128.2890625px) translateY(135px);
    en:;
}

#template-ieat {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}

#template-ikjz {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 50%;
}